<style>#line_chart {  
    height: 1px;
     margin-top: opx;
     margin-left: 25px; }
     img {
    border-radius: 50%;
  }</style>
  
      <section class="content dashboard">
            <div class="main-graph">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10 padding-0 overflow-hidden">
                            <div class="graph-area">
                                 <div id="line_chart"></div>
                            </div> 
                        </div>
                      
                    </div>
                </div>
                 <!-- #END# Main Graph-->
              <div class="page-heading">
                <h1>Content</h1>
                <ol class="breadcrumb">
                    <li><a href="../../index">Home</a></li>
                    <li class="active">showContent</li>
                </ol>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading"><div class="panel-heading"> <button type="open-button" onclick="openForm()"class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button></div></div>
            <div class="panel-body">
              <div class="table-responsive">
                  <table id="myTable" class="table js-exportable">
                  
                  <thead>
                          <tr>
                              <th>S.No</th>
                              <th>Page Title</th>
                              <th>Description</th>
                              <th>Created Time</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                       <tr>
                        <td>1</td>
                        <td>How to play</td>
                        <td>India VS Englandjhfdkjfgklgk;lf
                            kfdjkjfk;lfk;l jfjdllkdf kjfdlklsd kdflkfls fdkjlfdk 
                        </td>
                        <td>1-jun 1999</td>
                        <td>
                           <a href="#"  class="btn btn-primary"><i class="fa fa-edit"></i>Edit</a>
                           <a href ="#"class="btn btn-circle  btn-lg  btn-danger"><i class="fa fa-trash"></i></a>
                           
                        </td>
                       </tr>
                    </tbody>
                      </table>