<style>#line_chart {  
    height: 1px;
     margin-top: opx;
     margin-left: 25px; }
     img {
    border-radius: 50%;
  }</style>
  
      <section class="content dashboard">
            <div class="main-graph">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10 padding-0 overflow-hidden">
                            <div class="graph-area">
                                 <div id="line_chart"></div>
                            </div> 
                        </div>
                      
                    </div>
                </div>
                 <!-- #END# Main Graph-->
              <div class="page-heading">
                <h1>Contests Users_List</h1>
                <ol class="breadcrumb">
                    <li><a href="../../index">Home</a></li>
                    <li class="active">user</li>
                </ol>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">All Team</div>
            <div class="panel-body">
              <div class="table-responsive">
                  <table id="myTable" class="table js-exportable">
                  
                  <thead>
                          <tr>
                              <th>S.No</th>
                              <th>Image</th>
                              <th>User Name</th>
                              <th>Team</th>
                              <th>Action</th>
                              <th>active</th>
                              <th>Deactive</th>
                          </tr>
                      </thead>
                      <tbody>
                       <tr>
                        <td>1</td>
                        <td>image</td>
                        <td>rakesh</td>
                        <td>T7</td>
                        <td>
                            <button>delete</button>
                            <button>edit</button>
                           
                        </td>
                       </tr>
                    </tbody>
                      </table>